<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch">
        <observer instance="MageSuite\SessionLifetime\Observer\Controller\ActionPredispatch" name="magesuite_session_lifetim_controller_action_predispatch"/>
    </event>
</config>
